
html {
    font-family: sans-serif;
    width: 80%;
    margin: auto;
    padding-top: 12px;
}

body {
    font-family: sans-serif;
    background: #ffffff;
    color: #272525;
    padding-bottom: 20px;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6{
    line-height: 1.5;
    margin: auto;
}

h1{
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
}

h4 {
    padding-left: 110px;
}

h5 {
    text-align: center;
    cursor: pointer;
}

div {
    padding-bottom: 12px;
}

form {
    max-width: 900px;
    margin: auto;
}

table {
    max-width: 900px;
    margin: auto;
}

td, th {
    min-width: 150px;
    text-align: center;
}
